@charset "utf-8";
.top{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%; /* 화면에 채워😀 */
    height: 56px;
    z-index: 9999;
    background-color: #fff;
}
.gnb{
    max-width: 1320px;
    margin: 0 auto;
}
.gnb ul{
    display: flex;
    align-items: center;
    list-style: none;
    gap: 0 20px
}
.gnb>ul> li{
    /* margin: 0 10px; */
}
.gnb a{
    color: #111;
    text-decoration: none;
}
.gnb a:hover{
    color: hotpink;
    text-decoration: underline;
    text-decoration-style: wavy;
    text-shadow: 2px 2px 2px #555;
}
h1{
    text-align: center;
}

/* 서브메뉴 */
.smenu{
    position: absolute;
}


/* 메인영역 */

/* 하단영역 */
.info{
    text-align: center;
    padding: 30px;
    background-image: linear-gradient(to bottom, #CCC, #777);
    color: #fff;
}